#mainimg {
    width: 100%;
    position: absolute;
    z-index: -1;
}

#welcome {
    position: relative;
    padding: 20% 0px;
    width: 100%;
    text-align: center;

}

#myconfig {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1% 2%;
}

#mycontent {
    display: none;
    justify-content: space-around;
    align-items: flex-start;
    height: 80vh;
    width: 100%;
}

.info_box {
    width: 40%;
    position: relative;
    background-color: coral;

}

.myport_table {
    width: 100%;
}

#myport {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
